.formBirthday {
    display: contents;
    .label {
        padding: 5px 0;
    }
    .input{
        border: solid 2px green;
        border-radius: 20px;
        padding: 10px;
        margin-right: 5px;
    }
    .input:focus{
        background-color: lightgreen;
        border: solid 2px green;
    }
}